html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  outline: none;
  font-family: "Open Sans", sans-serif; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.sidebar {
  font-weight: 300;
  width: 20%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: RGB(235, 237, 236);
  clear: both;
  display: inline-block;
  border-right: 1px solid RGB(235, 237, 236); }
  .sidebar input {
    width: 100%;
    text-align: center;
    border: 0;
    border-bottom: 1px RGB(235, 237, 236) solid;
    height: 25px;
    font-size: .8em;
    padding: 20px; }
  .sidebar form .firstName, .sidebar form .lastName {
    width: 50%; }
  .sidebar form .firstName {
    border-right: 1px solid RGB(235, 237, 236); }
  .sidebar form .submitContact {
    width: 100%;
    border: 0;
    padding: 10px;
    color: white;
    font-size: 25px;
    background-color: transparent; }

.contactList {
  float: right;
  width: 80%;
  margin: 0;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px; }
  .contactList li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 1px solid RGB(235, 237, 236); }
    .contactList li:last-child {
      margin-right: 0; }
    .contactList li:nth-child(4n) {
      margin-right: 0; }
    .contactList li:nth-child(4n+1) {
      clear: left; }
