// import neat + bourbon
@import "bourbon/bourbon";
@import "neat/neat";
// end

// variables
$oh: hidden;
$font: 'Open Sans', sans-serif;
$font2: 'Oswald', sans-serif;

// color pallate

$pb:RGB(47, 41, 51);
$dt: RGB(1, 162, 166);
$lt: RGB(41, 217, 194);
$lime: RGB(189, 242, 113);
$pudding: RGB(255, 255, 166);
$lg:RGB(235, 237, 236);

// end

// mixins
//
// end

* {
  outline:none;
  font-family: $font;
}

.container {
  // width:100%;
  @include outer-container(100%);
  overflow:$oh;
}

// sidebar
.sidebar {
  font-weight:300;
  @include size(20% 1);
  position:fixed;
  top:0;
  bottom:0;
  background-color:$lg;
  clear:both;
  display:inline-block;
  border-right:1px solid $lg;

  .title {
    p {
      font-family:$font2;
      text-transform: uppercase;
      text-align:center;
    }
    font-size:25px;
    color:white;
    width:100%;
  }

  input {
    width:100%;
    text-align:center;
    border:0;
    border-bottom:1px $lg solid;
    height:25px;
    font-size:.8em;
    padding:20px;
  }

  form {
    // margin-bottom:15px;

    .firstName, .lastName {
      width:50%;
    }

    .firstName {
      border-right:1px solid $lg;
    }

    .submitContact {
      width:100%;
      border:0;
      // border-bottom: 1px solid white;
      padding:10px;
      color:white;
      font-size:25px;
      background-color:transparent;
    }
  }
}
// end sidebar

// contact grid

.contactList {
  float:right;
  width:80%;
  margin:0;
  margin-left:0 auto;
  margin-right:0 auto;
  margin-top:30px;
  margin-bottom:30px;

  li {
    @include span-columns(4);
    @include omega(4n);
    @include size(200px);
    margin:10px;
    border:1px solid $lg;
    }
}



