// import neat + bourbon
@import "bourbon/bourbon";
@import "neat/neat";
// end

// variables
$oh: hidden;
$font: 'Open Sans', sans-serif;
$font2: 'Oswald', sans-serif;

// color pallate

$pb:RGB(47, 41, 51);
$dt: RGB(1, 162, 166);
$lt: RGB(41, 217, 194);
$lime: RGB(189, 242, 113);
$pudding: RGB(255, 255, 166);
$lg:RGB(235, 237, 236);

// end

// mixins
//
// end

* {
  outline:none;
  font-family: $font;
}

// old container with grid:
// .container {
//   @include outer-container(100%);
//   overflow:$oh;
// }

.container {
  overflow:$oh;
}


// sidebar
.sidebar {
  font-weight:300;
  @include size(20% 1);
  position:fixed;
  top:0;
  bottom:0;
  background-color:$lg;
  clear:both;
  display:inline-block;
  border-right:1px solid white;

  .title {
    h1 {
      font-family:$font2;
      text-transform: uppercase;
      text-align:center;
    }
    font-size:20px;
    color:white;
    width:100%;
  }

  input {
    width:100%;
    text-align:center;
    border:0;
    border-bottom:1px $lg solid;
    height:25px;
    font-size:.8em;
    padding:20px;
  }

  form {

    .firstName, .lastName {
      width:50%;
      background-image:none;
    }

    .firstName {
      border-right:1px solid $lg;
    }

    .submitContact {
      width:100%;
      border:0;
      padding:10px;
      color:white;
      font-size:25px;
      background-color:transparent;
    }
  }
}
// end sidebar

// contact list

.contactList {
  float:right;
  width:80%;
  margin:0;
  margin-left:0 auto;
  margin-right:0 auto;
  margin-top:30px;
  margin-bottom:30px;
  list-style:none;

  li {
    // old grid settings
    // @include span-columns(4);
    // @include omega(4n);
    // @include size(200px);
    height:150px;
    margin:30px;
    width:800px;
    // background-color:red;
    border:1px solid $lg;
    }
}



